*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    
}

.container{
    width: 50%;
    margin: auto;
    background-color: rgb(47, 48, 48); 
    
}
header{
    background-color: darkmagenta;
}

header, header > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
header{
    justify-content: space-between;
    padding: 10px 20px;
}
header img{
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.meme-form{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.meme-form input, .meme-form button {
    padding: 7px;
}
.meme-form input{
    text-indent: 7px;
}

.meme-form button{
    grid-column: 1 / -1;
    background-color: darkmagenta;
    color: white;
}

.meme-img{
    width: 100%;
    padding: 20px;
    position: relative;
}
.meme-img img{
    width: 100%;
    aspect-ratio: 16 / 11;
    background-color: rgb(0, 0, 0);
    object-fit: contain;
    object-position: center;
}
.top-text, .bottom-text{
    position: absolute;
   color: white;
   font-size: 4rem;
   font-weight: 700;
}
.top-text{
    top: 30px;
    width: 100%;
    text-align: center;

}
.bottom-text{
    bottom: 30px;
    width: 100%;
    text-align: center;
    
}
